* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a {
    color: #eee;
}

body {
    background: #1e1f21;
    color: #fff;
}

table {
    border :1px solid #ccc;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 100%;
}

caption {
    font-size: 2em;
    margin: .25em 0 .75em;
}

table tr {
    border: 1px solid #ccc;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.delete-form-button {
    display: inline-block;
}

.delete-form-button button {
    border: none;
    background: inherit;
    color: inherit;
    font-size: inherit;
    text-decoration: underline;
    cursor: pointer;
}

.main-form input, .main-form select {
    font-size: inherit;
    font-family: inherit;
    display: block;
    border: 2px solid #ccc;
    margin-top: 15px;
    //margin-bottom: 15px;
    padding: 5px 15px;
    width: 100%;
    background: #2f2f2e;
    color: inherit;
}

#form-wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.mt-20 {
    margin-top: 20px;
}

.display-inline-block {
    display: inline-block;
}

.text-decoration-none {
    text-decoration: none;
}

.display-block {
    display: block;
}

.btn-primary {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 10px 15px;
    background: #0d6efd;
    border: 2px solid #0d6efd;
    border-radius: 5px;
}

.text-right {
    text-align: right;
}

.select-decoration {
    cursor: pointer;
}

.field-error {
    font-size: .9em;
    color: red;
}

.form-field {
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        display: none;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}